akshare==1.16.95
arch==7.2.0
backtrader==1.9.78.123
empyrical_reloaded==0.5.12
gym==0.26.2
joblib==1.5.1
loguru==0.7.3
matplotlib==3.10.6
numpy==2.3.3
pandas==2.3.2
pandas_ta==0.3.14b0
plotly==5.24.1
ray==2.48.0
Requests==2.32.5
scikit_learn==1.7.2
seaborn==0.13.2
stable_baselines3==2.7.0
streamlit==1.47.1
torch==2.7.1
tushare==1.4.21
~treamlit==1.47.0
